### Learning

In [17]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("file2.xlsx")

In [14]:
df.head(1)

   1  2  3
0  4  5  6

In [15]:
df.tail(1)

   1  2  3
1  7  8  9

In [19]:
df.loc[df[2]==8] = np.nan

In [22]:
df.fillna(2, inplace = True)

In [24]:
df

     1    2    3
0  4.0  5.0  6.0
1  2.0  2.0  2.0

In [28]:
df[1].describe()

count    2.000000
mean     3.000000
std      1.414214
min      2.000000
25%      2.500000
50%      3.000000
75%      3.500000
max      4.000000
Name: 1, dtype: float64

In [38]:
df[1] = df[1].astype(int)

In [39]:
df

   1    2    3
0  4  5.0  6.0
1  2  2.0  2.0

In [40]:
df[1].unique()

array([4, 2])